.result__button {
    display: block;
    font-size: 25rem;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #6da2ff;
    height: 50px;
    border-radius: 5px;
    color: white;
    transition: all .2s linear;
}

.result__button:last-of-type {
    margin-top: 20px;
}

.result__button:active {
    background-color: #3179d4;
}