.root__section {
  max-width: 1440px;
  padding: 0 7.22%;
  box-sizing: border-box;

  margin: auto;
}


@media all and (min-width: 1441px) {
  .root__section {
    padding: 0 104px;
  }
}

@media all and (max-width: 768px) {
  .root__section {
    padding: 0 5.2%;
  }
}

@media all and (max-width: 320px) {
  .root__section {
    padding: 0 16px;
  }
}
